@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title -SimpleBlog</title>
    @Styles.Render("~/styles")
    
</head>
<body>

    <div>
        <header>this the header
            
        </header>

        <a href="@Url.RouteUrl("home")">Simple Blog</a><br />
        <i class="icon-large icon-search"></i>
           @if(User.Identity.IsAuthenticated){
                <p>Welcome back, @User.Identity.Name</p>
                <a href="@Url.RouteUrl("logout")">Logout</a>
               
               if (User.IsInRole("adminbn"))
               { 
                    <a href="@Url.Action("Index","Posts",new {area="admin"})">View posts in admin</a>
               }
                   
            } 
            else{
                <a href="@Url.RouteUrl("login")">Login</a>
               
            }  
       
        
        @RenderBody()
        <footer>this the footer</footer>
        @Styles.Render("~/scripts")
        @RenderSection("Scripts",false)
    </div>
</body>
</html>
